
body{
    font-family: 'Roboto';
    font-weight: 400;
}
a{
    font-style: 'Roboto';
    font-weight: 400;
    text-decoration: none;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto-Regular'), url("../fonts/Roboto-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto-Bold'), url("../fonts/Roboto-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

.btn-reset{
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;  
}
.post-container-preview-button{
    border:3px solid #282e54;
    padding: 5px;
    border-radius: 5px;
    color: #282e54 ;
    font-weight: 700;
}
strong{
    font-size: 30px;
}
li:not(:last-child){
    margin-bottom: 10px;
}
img{
    object-fit: cover;
    max-width: 200px;
    height: 250px;
}
label{
    margin-right: 10px;
    font-size: 20px;
}
.strong-active{
    font-size: 20px;
}
.container{
    max-width: 1440px;
    padding: 20px 50px;
    margin: 0 auto;
}
.btn-add{
    border: 3px solid #282e54;
    padding: 10px;
    border-radius: 5px;
    color: #282e54;
    font-weight: 700
}
.post-container{
    display: flex;
    flex-wrap: wrap;
    max-width: 1770px;
    padding: 0 15px;
    margin: 0 auto;
    margin-bottom: 20px;
}
.post-container-preview{
    position: relative;
    padding: 20px;
    min-height: 200px;
    max-height: 350px;
    max-width: 300px;
    display: flex;
    flex-basis: 25%;
    flex-direction: column;
    flex-shrink: 0;
    align-items: center;
    border:1px solid #cacaca;
    margin-right: 50px;
}
.form-control,
.form-input{
    padding: 3px;
    border:2px solid #282e54;
    border-radius: 5px;
}

.post-container-preview-link{
    position: absolute;
    bottom: 20px;
}
.preview__text{
    margin-bottom: 70px;
    max-height: 200px;
    overflow: auto;
}
.menu{
    margin-bottom: 30px;
}
.user_panel{
    padding-right: 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}
.add-post {
    border: 3px solid black;
    padding:10px;
    color:#064b88 ;
    font-size: 20px;
    background-color: #f6f6f6;
}
.field_wrapper{
    margin-bottom: 20px;
}
.no-photo{
    font-weight: 700;
    font-size: 20px;
    color:#CD5C5C;
}
.post_title{
    font-size: 24px;
}
.post-img{
    min-width: 300px;
    height: 100%;
    object-fit: contain;
    float:left;
    margin-right: 30px;
}
.user-img{
    border-radius: 5px;
    border:1px solid #000;
}
.top-link{
    margin-bottom: 20px;
}
.item{
    margin-bottom: 30px;
}
.likes-count{
    font-weight: 700;
    font-size: 16px;
    color:#CD5C5C;
}
.like_btn{
    border:3px solid #333;
    padding: 5px;
    border-radius: 5px;
    font-weight: 700;
    font-size: 16px;
    color:#CD5C5C;
}
.img_n_descr{
    position: relative;
}
.second{
    clear: left;
}
.post_content{
    max-width: 1000px;
}
.comments{
    font-size: 22px;
    margin-bottom: 10px;
}
.comment_author{
    margin-top: 0;
    margin-bottom: 8px;
    display: inline-block;
    font-weight: 700;
    font-size: 20px;
    color: #c04040;
}
.comment_text{
    margin-top: 0;
    margin-bottom: 8px;
    display: inline-block;
    font-size: 20px;
}
.btn-add-comment{
    color: #CD5C5C;
    border: 3px solid #333;
}
.btn-edit-profile{
    border:2px solid #333;
    padding: 5px;
    border-radius: 5px;
    color: #c04040 ;
    font-weight: 700;
}
.user-bio{
    max-width: 1000px;
}
.flex-panel{
    display: flex;
    justify-content: space-between;
}