{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" href="{% static 'blog/css/norm.css' %}" rel="stylesheet">
    <link type="text/css" href="{% static 'blog/css/bootstrap-grid.min.css' %}" rel="stylesheet">
    <link type="text/css" href="{% static 'blog/css/style.css' %}" rel="stylesheet" >
    <title>{{title}}</title>
</head>
<body>
    
    <div class="container flex-panel"> 
        <div class="home"><a href="{% url 'home' %}">На главную</a></div>
        <div class= "user_panel" >
            {% if user.is_authenticated %}
            <span class="top-link">
                <a href= "{% url 'my_profile' %}">
                Мой профиль
                </a>
            </span>
            <a href="{% url 'logout' %}">Выйти</a>
            
            {% else %}
            <a class="top-link" href= "{% url 'register' %}">Зарегестрироваться</a> 
            <a href="{% url 'login' %}">Войти</a>
            {%  endif %}
        </div>
    </div>
    
    {% block content %}
    {% endblock %}
</body>
</html>