{% extends 'blog/base.html' %}

{% block content %}

{% comment %} <form method="POST" >
    {% csrf_token %}
    {{form.as_p}}
    <button type='submit'>Регистрация</button>
</form> {% endcomment %}

<div class="container">
    <form method="POST" action="{% url 'register' %}" enctype='multipart/form-data'>
        {% csrf_token %}
        {% for field in form %}
        <div class="field_wrapper">
            {{field.errors}}
            {{field.label_tag}} {{field}}
        </div>
        {% endfor %}
        <button class="btn-reset btn-add" type="submit">Зарегестрироваться</button>
    </form>
</div>
{% endblock %}